on: [pull_request]

jobs:
  job:
    runs-on: ubuntu-latest
    name: A job to show seats
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.9.3'
      - name: Install hcl2json
        run: |
          go install github.com/tmccombs/hcl2json

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Count seats and members
        id: seats_members
        uses: M-Yamashita01/check-members@v0.5
        env:
          ACCESS_TOKEN: ${{ secrets.READ_ORG_TOKEN }}
          # Set absolute file path to the terraform file containing the github_membership resources.
          # Example: '${{ github.workspace }}/membership.tf'
          MEMBERSHIP_FILE_PATH: '${{ github.workspace }}/spec/fixtures/membership.tf' 
          # Set absolute file path to the terraform file containing the github_repository_collaborator resources.
          # Example: '${{ github.workspace }}/repository_collaborator.tf'
          REPOSITORY_COLLABORATOR_FILE_PATH: '${{ github.workspace }}/spec/fixtures/repository_collaborator.tf'
          ORGANIZATION_NAME: 'my-organization-sandbox'

      - name: Post comments
        uses: actions/github-script@v5
        with:
          script: |
            var output = `Current seats in organization and members in terraform files.\n
              ・Seats that membership used: ${{steps.seats_members.outputs.filled_seats}}\n
              ・Max seats an organization can use: ${{steps.seats_members.outputs.max_seats}}\n
              ・Total number of membership in terraform files: ${{steps.seats_members.outputs.members_in_terraform}}\n\n
            `
            const numberOfSeatsInShortage = ${{steps.seats_members.outputs.members_in_terraform}} - ${{steps.seats_members.outputs.max_seats}}
            var additional_message = `There is no shortage of seats.\n`
            if (numberOfSeatsInShortage > 0) {
              additional_message = `There are ${numberOfSeatsInShortage} seats missing. Please add seats.\n`
            }
            output += additional_message

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            })
